* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
ul li p, ul li a {
    width: 100%;
    text-align: initial;
}
ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}